body {
  font-family: "Helvetica";
  text-align: center;
  background-color: #FFFFFF;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.grow:hover {
  transform: scale(2);
}

#name {
  font: bold 30px;
}

line {
  stroke-width:1;
  stroke-linecap:round;
}

.redLine {
  stroke:#fc514b;
}

.yellowLine {
  stroke:#ffdc00;
}

.blueLine {
  stroke:#504af9;
}
