body {
  font-family: "Helvetica";
  text-align: center;
  background-color: #FFFFFF;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    margin:10% 10% auto;
    background-color: rgba(255,255,255,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#name {
  font-size: 50px;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}

#name:hover {
  transform: scale(1.05);
}

line {
  stroke-width:1;
  stroke-linecap:round;
  stroke:#fc514b;
}

.redLine {
  stroke:#fc514b;
}

.yellowLine {
  stroke:#ffdc00;
}

.blueLine {
  stroke:#504af9;
}
