body {
  font-family: "Helvetica";
  text-align: center;
  background-color: #FFFFFF;
}

line {
  stroke-width:1;
  stroke-linecap:round;
}

.redLine {
  stroke:#fc514b;
}

.yellowLine {
  stroke:#ffdc00;
}

.blueLine {
  stroke:#504af9;
}
